
<!-- <p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <span><mat-icon>cottage</mat-icon>stays</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item class="btn btn-primary" role="listitem">Dashboard</mat-list-item>
      <mat-list-item  class="btn btn-primary" role="listitem">New Bookings</mat-list-item>
      <mat-list-item class="btn btn-primary" role="listitem">All Bookings</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list> 
   
  </mat-drawer>

  <div class="example-sidenav-conten">
  </div>

</mat-drawer-container>-->


<mat-toolbar color="primary">
<mat-toolbar-row>
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="mt-2 p-2">Trip.com</h1>

  <div>
    <a mat-button class="active">Hotels</a>
    <a mat-button>Flights</a>
    <a mat-button>Cars</a>
    <a mat-button>List Property</a>
  </div>
  <span class="example-spacer"></span>
  <div>
    <a mat-button>Register</a>
    <a mat-button>Sign In</a>
  </div>
</mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list " >
      <mat-list-item  role="listitem"><mat-icon class="personIcon">person</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item  role="listitem" routerLinkActive="highlight">Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" routerLinkActive="highlight" routerLinkActive="highlight" routerLink="/new-booking">New Bookings</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"  routerLinkActive="highlight" routerLink="/all-bookings">All Bookings</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list> 
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>